<h1>This is my list of projects</h1>
<h2>{{selectedProj.title}}</h2>
<section class="descriptiondiv">

<a class="aDescrip" href="{{selectedProj.link}}">{{selectedProj.screenshot}}{{selectedProj.title}}</a>
<img class="ImgDescrip" src="/{{selectedProj.directory}}/screenshot.jpg" />
{{>list }}
</section>

